* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}


/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #333;
    /* padding: 14px; */
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    /* background: coral; */
    color: coral;
}
.active:hover{
    color: white !important;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.active{
    background: #1abc9c;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.buttons {
    width: 100%;
    padding: 20px;
    text-align: center;
    display: inline-block;
    border: none;
    
}

#red-flag-btn:hover, #intervention-btn:hover,.editBtn:hover, #deleteBtn:hover,#readmore:hover,#submitBtn:hover{
    background: coral;
}

.buttons1 {
    display: none;
    
}
img{
    cursor: pointer;
}
#red-flag-btn, #intervention-btn{
    border:none;
    border-radius: 15px;
    padding: 5px;
    color: white;
    width:100%;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
  
}
#red-flag-btn{
    background:#8B0000;
}
#intervention-btn{
    background:#1abc9c;
}
.editBtn, #deleteBtn,#readmore,#submitBtn {
    border:none;
    border-radius: 5px;
    color: white;   
    margin-right: 5px;
    /* width:10%; */
    height:25px; 
    cursor: pointer;
}
#readmore,#submitBtn{
    background:#1abc9c;
    height:30px; 
}
.editBtn{
    background:#1abc9c;
}
#deleteBtn{
    background:#8B0000;
}


/* modal css */
input[type=text], input[type=number],textarea ,{
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;*/
    animation-name: animatetop;
    animation-duration: 1s
} 

/* */

@keyframes animatetop {
    from { opacity:0}
    to {opacity:1}
}

/* The Close Button */
.closeBtn {
    color: #4B99BD;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeEditBtn , .closeEditBtn2{
    color: #4B99BD;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 2px 16px;
}

.closeEditBtn:hover, .closeEditBtn2:hover,
.closeEditBtn:focus, closeEditBtn2:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
} 

/* submit button */
#submit{
    margin-top:10px;
  text-align: center;

}


.modal-body {
  padding: 2px 16px;
    margin-bottom: 20px;

}
.modal-body input[type=text],textarea{
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.Edit-body {
  padding: 2px 16px;
    margin-bottom: 20px;

}
.Edit-body input[type=text]{
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

closeEditBtn {
    color: #4B99BD;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 2px 16px;
}

.closeEditBtn:hover,
.closeEditBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} 

.modal-footer {
    padding: 2px 16px;
    background-color: #4B99BD;
    color: white;
}

/* end modal css */




















/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    }
    
    /* .buttons {
        display: none;
    } */
    /* .buttons1 {
        display: block;
        widows: 100%;
        padding: 20px;
        text-align: center;
        border:none;
    } */
    .modal-content {
       
        width: 80%;
       
    } 
    
}